{% extends "base.html.twig" %}

{% block title %} Update type {% endblock %}

{% block body %}
  <div class="container-fluid mt-3">
      <h2 class="text-center mt-5">UPDATE TYPE</h2>
      <div class="col-md-6"></div>
          {{ form_start (form) }}
              <div class="form-group">
                  {{ form_label (form.name) }}
                  {{ form_widget (form.name, {'attr': {'class' : 'form-control'}}) }}
              </div>
              <div class="form-group text-center mt-3">
                  <button class="btn btn-primary btn-lg">UPDATE</button>
              </div>
          {{ form_end (form)}}
  </div>   
{% endblock %}